div#feedback_position
{
	position: fixed;
	bottom: 0px;
	right: 0;
}
div#feedback
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 32px;
	height: 395px;
	overflow: hidden;
}
div#feedback_wrapper
{
	position: relative;
	left: 0;
	top: 0;
	width: 325px;
	height: 395px;
	background: url( images/feedback.gif ) no-repeat top left;
	text-align: left;
}
div#feedback div#feedback_link
{
	width: 32px;
	height: 126px;
	position: absolute;
	bottom: 0;
	left: 0;
}
div#feedback.closed div#feedback_link.feedback_link
{
	background: url( images/feedback_default.gif ) no-repeat top left;
	cursor: pointer;
}
div#feedback.closed div#feedback_link.feedback_sending,
div#feedback div#feedback_link.feedback_sending
{
	background: url( images/feedback_sending.gif ) no-repeat top left;
	cursor: default;
}
div#feedback div#feedback_close
{
	width: 48px;
	height: 40px;
	cursor: pointer;
	float: right;
}
div#feedback div#feedback_close.feedback_close_over
{
	background: url( images/feedback_close_over.gif ) no-repeat bottom left;
	cursor: pointer;
}
div#feedback div#feedback_send
{
	width: 138px;
	height: 46px;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
div#feedback div#feedback_send.feedback_send_over
{
	background: url( images/feedback_send_over.gif ) no-repeat bottom left;
	cursor: pointer;
}

div#feedback input#feedback_name
{
	margin-top: 15px;
}
div#feedback input#feedback_email
{
	margin-top: 19px;
}
div#feedback textarea
{
	margin-top: 32px;
	height: 200px;
	overflow: auto;
}
div#feedback input,
div#feedback textarea
{
	margin-left: 55px;
	width: 245px;
	border: 0px;
	background-color: transparent;
}
div#feedback .empty
{
	color: #666;
	cursor: pointer;
}